#downloadsPanel[hasdownloads] > #emptyDownloads {
  display: none;
}

#emptyDownloads {
  padding: 10px 20px;
  max-width: 40ch;
}

@media (-moz-windows-default-theme) {
  #downloadsFooter {
    background-color: rgb(185, 182, 179);
    box-shadow: 0px 1px 2px rgb(204,214,234) inset;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}