#gtbAboutBox {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

#gtbAboutDialog {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

#gtbAboutDialog > .dialog-button-box {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

#gtbAboutSeparator {
  border-top-color: #6969FF !important;
  color: #6969FF !important;
}

#gtbProductVersionCopy {
  color: #6969FF !important;
}

#gtbPopupAutoComplete .autocomplete-treebody {
  background-color: #000000 !important;
}

.gtb-autofill-preview-input {
  background-color: #000000 !important;
  color: #EEEEEE !important;
}

#gtbCustomSearchHint {
  background-color: #000018 !important;
  color: #FFFFFF !important;
}

.gtbPopupClearLine {
  background-color: #000000 !important;
}

.gtbLink {
  color: #6969FF !important;
}

.amulet-preferences-link {
  color: #6969FF !important;
}

.amulet-palm-message-bubble { 
  background-color: #000000 !important;
}

.amulet-palm-link { 
  color: #6969FF !important; 
}

textbutton:focus { 
  border: 1px dotted #4C4436 !important;
}

#gtb-gadget-overlay {
  color: #FFFFFF !important;
  background-color: #000000 !important;
}

#gtb-newbutton-dropdown-container html,
#gtb-newbutton-iframe html, 
#gtb-newbutton-wrapper html, 
#gtb-newbutton-content html {
  color: #EEEEEE !important;
  background-color: #000000 !important;
}

#gtb-suggest-container html, 
#gtb-suggest-iframe html, 
#gtb-suggest-wrapper html, 
#gtb-suggest-content html {
  color: #EEEEEE !important;
  background-color: #000000 !important;
}


#gtb-suggest-clear[visible='true'] {
  color: #6969FF !important;
}