/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  /*-moz-appearance: checkbox-container;*/
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.checkbox-label-box {
  -moz-margin-start: 2px;
  border: 1px solid transparent;
  padding: 0px 1px;
}

.checkbox-icon {
  -moz-margin-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  border: 1px dotted #4C4436;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  background-color: #382F26;
}

checkbox[disabled="true"] {
  color: GrayText;
}

checkbox[disabled="true"]:-moz-system-metric(windows-classic) {
  color: #443B2E;
  text-shadow: 1px 1px #665848;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
width: 13px;
height: 13px;
list-style-image: url("chrome://global/skin/checkbox/cbox.gif");
}
  
checkbox:hover:active > .checkbox-check {
list-style-image: url("chrome://global/skin/checkbox/cbox-act.gif");  
}

checkbox[disabled="true"] > .checkbox-check {
list-style-image: url("chrome://global/skin/checkbox/cbox-dis.gif") !important
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox:hover:active[checked="true"] > .checkbox-check {
list-style-image: url("chrome://global/skin/checkbox/cbox-act-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
list-style-image: url("chrome://global/skin/checkbox/cbox-dis-check.gif") !important;
}

