/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== groupbox.css ==================================================
  == Styles used by the XUL groupbox and related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: groupbox ::::: */

groupbox {
  /*-moz-appearance: groupbox;*/
  border: 2px groove #3E342A;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 3px 6px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  margin: 0 6px;
  background-color: #382F26;
  color: #FFFFFF !important;
}

tabpanels caption {
  /* -moz-appearance: tabpanel; */
  background-color: #382F26;
  color: #FFFFFF !important;
}

/* !important is needed to override label in global.css */
.caption-text {
  margin: 0 2px !important;
}
