/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== listbox.css =======================================================
  == Styles used by XUL listbox-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: listbox ::::: */

listbox {
  /*-moz-appearance: listbox;*/
  margin: 2px 4px;
  border: 2px solid;
-moz-border-top-colors: #413C2C #A29E91;
-moz-border-right-colors: #070501 #A29E91;
-moz-border-bottom-colors: #070501 #A29E91;
-moz-border-left-colors: #413C2C #A29E91;
  background-color: #000000;
  color: #FFFFFF;
}

listbox[disabled="true"] {
  color: GrayText;
}

/* ::::: listitem ::::: */

listitem {
  border: 1px solid transparent;
}

listbox:focus > listitem[selected="true"][current="true"] {
  outline: 1px dotted #F3D982;
}

listbox:focus > listitem[current="true"] {
  outline: 1px dotted #BDB09C;
  outline-offset: -1px;
}

listitem[selected="true"] {
  background-color: #382F26;
  color: #FFFFFF;
}

listbox:focus > listitem[selected="true"] {
  background-color: #BDB09C;
  color: #000000;
}

/* ::::: listheader ::::: */

listheader { 
  /*-moz-appearance: treeheadercell;*/
  -moz-box-align: center;
  border: 2px solid;
-moz-border-top-colors: #110E0C #382026;
-moz-border-right-colors: #9C9894 #5A544F;
-moz-border-bottom-colors: #9C9894 #5A544F;
-moz-border-left-colors: #110E0C #382026;
  background-color: #382F26;
  color: #FFFFFF;
  padding: 0 4px;
}

listheader[sortable="true"]:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
-moz-border-top-colors: #5A544F #382F26;
-moz-border-right-colors: #5A544F;
-moz-border-bottom-colors: #5A544F;
-moz-border-left-colors: #5A544F #382F26;
  padding-top: 1px;
  padding-bottom: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 4px;
}

.listheader-icon {
  -moz-margin-end: 2px;
}

.listheader-label {
  margin: 0px !important;
}

/* ..... sort direction icon ..... */

.listheader-sortdirection {
  list-style-image: none;
}

.listheader-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.png");
}

.listheader-sortdirection[sortDirection="ascending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-asc-classic.png");
}

.listheader-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.png");
}

.listheader-sortdirection[sortDirection="descending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-dsc-classic.png");
}

/* ::::: listcell ::::: */

.listcell-label {
  margin: 0px !important;
  padding-top: 0px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 0px;
  white-space: nowrap;
}

.listcell-icon {
  -moz-margin-end: 2px;
}

.listcell-label[disabled="true"] {
  color: GrayText;
}

/* ::::: listcell checkbox ::::: */

.listcell-check {
  /*-moz-appearance: checkbox;*/
  -moz-box-align: center;
  margin: 0px 2px;
  border: 1px solid #FFFFFF;
  min-width: 13px;
  min-height: 13px;
  background: #000000 no-repeat 50% 50%;
}

.listcell-check[checked="true"] {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

.listcell-check[disabled="true"] {
  border-color: GrayText;
  background-image: url("chrome://global/skin/checkbox/cbox-dis.gif");
}

.listcell-check[disabled="true"][checked="true"] {
  background-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}
