/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== progressmeter.css ==============================================
  == Styles used by the XUL progressmeter element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: progressmeter ::::: */

progressmeter {
  /*-moz-appearance: progressbar;*/
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #443B2E #382F26;
  -moz-border-right-colors: #665848 #382F26;
  -moz-border-bottom-colors: #665848 #382F26;
  -moz-border-left-colors: #443B2E #382F26;
  background-color: #382F26;
  min-width: 128px;
  min-height: 15px;
}

.progress-bar 
{
  /*-moz-appearance: progresschunk;*/
  min-width: 0px;
  background-color: #BDB09C;
}

/* ::::: statusbar progressmeter ::::: */

.progressmeter-statusbar {
  margin: 0;
  border: 0px;
  -moz-border-top-colors: #665848 #382F26;
  -moz-border-right-colors: #443B2E #382F26;
  -moz-border-bottom-colors: #443B2E #382F26;
  -moz-border-left-colors: #665848 #382F26;
  min-width: 96px;
}
